body {background: darkseagreen;
     color: darkblue;
}
p{
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
     font-weight: bold;
     text-align: center;
}
a:link{
     color: yellow;
}
a:hover{
     text-decoration: yellowgreen;
}

img{
     width: 300px;
     height: auto;
     display: block;
     border-radius: 5px;
     padding: 10px;
     border: 2px solid #ccc;
}